<h2 class='text-center mb-5'>Log in</h2>

<%= form_for(resource,  html: { class: 'd-flex flex-column align-items-center' }, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="w-50 mb-4">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", placeholder: "name@example.com", autofocus: true %>
  </div>

  <div class="w-50 mb-4">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="">
      <%= f.label :remember_me, class: 'mr-1 mb-4' %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <%= f.submit "Log in", class: 'btn btn-primary btn-lg mb-3' %>

  <%= render "devise/shared/links" %>
<% end %>
